* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --background-color: #f5f5f5;
    --text-color: #333;

    --nav-background: #000;
    --nav-text: #fff;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

ul {
    list-style: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}


